# binaries
# ex00
braiiiiiiinnnzzzZ
# ex01
moarBrainz
# ex02
hiThisIsBrain
# ex03
unnecessaryViolence
# ex04
sedIsForLosers
# ex05
harl2.0
# ex06
harlFilter

# build
*.o
*.d

# IDE
.idea
.vscode
CMakeLists.txt
cmake-build-debug
